/**

* Code for timeline copied from
* https://alvarotrigo.com/blog/html-css-timelines/

* Accessed: 12 June, 2023

*/

ul.timeline {
  padding: 1rem 0;
}

ul.timeline li {
  position: relative;
  list-style-type: none;
  width: 0.25rem;
  background-color: rgba(102, 192, 252, 0.5);
  margin: 0 auto;
  padding-top: 50px;
}

ul.timeline li::after {
  background: rgb(102, 192, 252);
  content: "";
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}

ul.timeline li div {
  position: relative;
  width: 400px;
  padding: 15px;
  border-radius: 5px;
  bottom: 0;
  /* background: rgba(42, 50, 113, 0.28); */
}

ul.timeline li:nth-child(odd) div {
  left: 45px;
}

ul.timeline li:nth-child(even) div {
  left: -445px;
}

time {
  font-weight: bold;
  font-size: 18px;
  display: block;
  margin-bottom: 10px;
}

ul.timeline li div {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

ul.timeline li:nth-child(odd) div {
  transform: translate3d(200px, 0, 0);
}

ul.timeline li:nth-child(even) div {
  transform: translate3d(-200px, 0, 0);
}

ul.timeline li.show div {
  transform: none;
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 900px) {
  ul.timeline li div {
    width: 250px;
  }
  ul.timeline li:nth-child(even) div {
    left: -289px;
    /*250+45-6*/
  }
}

#history img {
  min-height: 70%;
  max-height: 70%;
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
  object-fit: cover;
}
